<div class="container">
    <form class="form">
        <div id="test">
            <mat-form-field class="input" appearance="fill">
                <mat-label>Search for a country...</mat-label>
                <svg matPrefix style="margin-left: 20px;" width="20px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="icomoon-ignore"> </g> <path d="M28.591 27.273l-7.263-7.264c1.46-1.756 2.339-4.010 2.339-6.471 0-5.595-4.535-10.129-10.129-10.129-5.594 0-10.129 4.535-10.129 10.129 0 5.594 4.536 10.129 10.129 10.129 2.462 0 4.716-0.879 6.471-2.339l7.263 7.264 1.319-1.319zM4.475 13.538c0-4.997 4.065-9.063 9.063-9.063 4.997 0 9.063 4.066 9.063 9.063s-4.066 9.063-9.063 9.063c-4.998 0-9.063-4.066-9.063-9.063z" fill="#000000"> </path> </g></svg>
                <input matInput>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Filter by Region</mat-label>
            <mat-select [formControl]="selectFormControl">
                <mat-option (click)="getAllByRegion()">--</mat-option>
                <mat-option value="africa" (click)="getAllByRegion()">Africa</mat-option>
                <mat-option value="americas" (click)="getAllByRegion()">America</mat-option>
                <mat-option value="asia" (click)="getAllByRegion()">Asia</mat-option>
                <mat-option value="europe" (click)="getAllByRegion()">Europe</mat-option>
                <mat-option value="oceania" (click)="getAllByRegion()">Oceania</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div class="card">
        <div *ngFor="let item of countries" [routerLink]="['/country', item.name]">
            <mat-card class="country-card">
                <img mat-card-image [src]=item.flags.svg alt="Flag of a country">
                <br>
                <mat-card-content>
                    <mat-card-title class="country-name">{{item.name}}</mat-card-title>
                    <p class="text"><span>Population: </span>{{item.population}}</p>
                    <p class="text"><span>Region: </span>{{item.region}}</p>
                    <p class="text"><span>Capital: </span>{{item.capital}}</p>
                </mat-card-content>
                <br>
              </mat-card>
        </div>
    </div>
    <!-- <button (click)="seeRegion()">asd</button> -->
</div>